.SectionHeader {
    font-weight:500;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:85px;
    margin-top:35px;
    text-align: center;
}
.infoIcon {
        transition: all .2s ease-in-out;
        padding:30px;
        width:160px;
        height:160px;
}
.infoIcon:hover {
        transform: scale(1.2);
        cursor:pointer;
}
.ButtonContainer {
        margin-top:35px;
}
@media screen and (max-width: 900px) {
        .SectionHeader {
            font-size:60px;
            margin-top:30px;
        }
        .ButtonContainer {
                margin-top:20px;
        }
        .infoIcon {
            height:110px;
            width:110px;
            padding:25px;
        }
}
@media screen and (max-width: 600px) {
        .SectionHeader {
            font-weight:500;
            font-size:40px;
            margin-top:25px;
        }
        .infoIcon {
            height:80px;
            width:80px;
            padding:15px;
        }
        .ButtonContainer {
            margin-top:10px;
        }
}
